<a href="/" title="Go to Home">Home</a>
<a href="/about-me" title="Go to About">About</a>
<a href="https://www.linkedin.com/in/nikkidreams">LinkedIn</a>
<a href="https://github.com/NikkiDreams">GitHub</a>
<a href="https://www.etsy.com/shop/AmazonRisingStudios">Etsy</a>
<a href="https://www.behance.net/nikkidreams">Portfolio</a>
<a href="https://soundcloud.com/nikkidreams">Original Music</a>
<a href="http://nikkidreams.com/">Blog: Amazon Rising</a>
