<menu class="social-media-share">
    <a href="http://www.linkedin.com/in/nikkidreams" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/NikkiDreams" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="https://www.behance.net/nikkidreams" class="icon-behance" rel="external" title="My Behance"></a>
    <a href="http://www.lastfm.com/user/NikkiDreams" class="icon-lastfm" rel="external" title="My Lastfm"></a>
    <a href="https://play.spotify.com/user/nikkidreams" class="icon-spotify" rel="external" title="My Spotify"></a>
    <a href="https://www.facebook.com/Amazon.Rising.Studios" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="http://twitter.com/NikkiDreams" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="http://plus.google.com/106637859152656219769/" class="icon-googleplus" rel="external" title="My Google+"></a>
    <a href="http://instagram.com/amazonrising" class="icon-instagram" rel="external" title="My Instagram"></a>
    <a href="http://www.flickr.com/people/nikkidreams/" class="icon-flickr" rel="external" title="My Flickr"></a>
    <a href="https://www.pinterest.com/nikkidreams/" class="icon-pinterest" rel="external" title="My Pinterest"></a>
</menu>